<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab3A2.Properties.Settings.OSBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;E:\Univ\Info 3\Tehnici avansate de programare\OSB.accdb&quot;;Jet OLEDB:Database Password=mypsw"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>