<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exam.Properties.Settings.ExamenConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;E:\Univ\Info 3\Tehnici avansate de programare\Teme\Examen.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>